<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1 style="text-align: center; font-size: 45px">Student Management System</h1>
<div class="table-wrapper">
<table class="student-table">
<tr th:each="user : ${users}">
    <br>
    <td class="student-info" th:text="'Name: '+${user.name}"></td>
    <td class="student-info" th:text="'Surname: '+${user.surname}"></td>
    <td class="student-info" th:text="'GPA: '+${user.gpa}"></td>
    <td class="student-info" th:text="'Phone Number: '+${user.phone}"></td>
    <td>
        <div class="button-container">
            <form th:action="@{/edit}" method="get">
                <input type="hidden" name="id" th:value="${user.id}" />
                <button type="submit" class="form-button">Edit</button>
            </form>
        </div>
            <div class="button-container">
                <form th:action="@{/delete}" method="get">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <button type="submit" onclick="return confirm('Are you sure?')" class="delete-button">Delete</button>
                </form>
            </div>
    </td>
    <br>
</tr>
</table>
</div>
<br>
<div class="button-container">
<form action="/register" method="get">
    <button class="form-button" type="submit">Add Student</button>
</form>
<form action="/" method="get">
    <button class="form-button" type="submit">Home</button>
</form>
</div>

</body>
</html>