<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="nav-bar">
    <h1>Student Management System</h1>
</div>
<tr th:each="user : ${users}">
    <td th:text="'Login: '+${user.login}"></td>
    <br>
    <td>
        <span th:utext="${'Password: '+'•'.repeat(#strings.length(user.password))}"></span>
    </td>
    <br>
</tr>
<br>
<form action="/register" method="get">
    <button class="login-button" type="submit">Register</button>
</form>
<form action="/" method="get">
    <button class="login-button" type="submit">Home</button>
</form>

</body>
</html>